<div [@showHideComments]="showComments ? 'show' : 'hide'" class="comment-list">
  <div>
    <button (click)="addComment()" mat-stroked-button>Comment</button>
    <mat-form-field class="comment-field" appearance="outline">
      <mat-label>Leave a comment</mat-label>
      <textarea           
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10" 
        matInput [(ngModel)]="comment.Content" type="text"></textarea>
    </mat-form-field>
  </div>
  <ul>
    <app-comment *ngFor="let comment of post?.Comments" [comment]="comment"></app-comment>
  </ul>
</div>