<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- <app-post-list></app-post-list> -->
    <!--<app-login></app-login>-->
    <!-- <app-register></app-register> -->

    <!-- <app-user-list></app-user-list>-->
     <div class="container">
    
       <router-outlet></router-outlet>
     </div>
 <!--
    <div class="container">

       
        <input type="checkbox" id="check">
        <div class="login form">
          <header>Select option</header>
          <form action="#">
            <input (click)="showComponent('login')" type="button" class="button" value="Login">
            <input (click)="showComponent('register')" type="button" class="button" value="Signup">
          </form>
        </div>
    </div>

    <ng-container *ngIf="currentComponent === 'login'">
        <app-login></app-login>
    </ng-container>
      
    <ng-container *ngIf="currentComponent === 'register'">
        <app-register></app-register>
    </ng-container>
-->

</body>
</html>