.profile-picture-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    cursor: pointer;
  }
  .profile-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .profile-picture-container i {
    font-size: 30px;
  }
  .liked-list {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    >div:nth-child(2) {
        position: relative;
        left: -10px;
    }
    >div:nth-child(3) {
        position: relative;
        left: -20px;
    }
  }