<div class="post-list">
  <form [formGroup]="postForm" (ngSubmit)="addPost()">
    <button type="submit" mat-stroked-button>Post</button>
    <mat-form-field appearance="outline">
      <mat-label>Leave a post</mat-label>
      <textarea    
        [(ngModel)]="post.Content"
        formControlName="Content"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10" 
        matInput type="text"></textarea>
    </mat-form-field>
  </form>
  <app-post *ngFor="let post of posts" [post]="post" [currentUserId]="currentUser.Id" [posts]="posts"></app-post>
</div>