.post-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.post-footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.post-card {
  border: 1px solid #777;
  border-radius: 4px;
  margin: 8px;
  padding: 16px;
  width: calc(33.33% - 16px);
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.post-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
.post-header p {
  margin: 0;
  font-size: 14px;
  color: #777;
}
.post-body {
  margin-bottom: 16px;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-footer p {
  margin: 0;
  font-size: 14px;
  color: #777;
}