<div class="post-list">
  <div>
    <button (click)="addPost()" mat-stroked-button>Post</button>
    <mat-form-field appearance="outline">
      <mat-label>Leave a post</mat-label>
      <textarea      
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="10" 
      matInput [(ngModel)]="post.Content" type="text"></textarea>
    </mat-form-field>
  </div>
  <app-post *ngFor="let post of posts" [post]="post" [currentUserId]="currentUser.Id"></app-post>
</div>