.post-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.post-list form {
  width: 100%;
  padding-top: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.post-list>app-post:nth-child(2) {
  border-top: 1px solid #263238;
}
.post-list>app-post:last-child {
  border-bottom: 1px solid #263238;
}