<div class="post-list">
  <div class="page-name">
    <h1>Home</h1>
  </div>
  <form *ngIf="accountService.isAuthorized()" [formGroup]="postForm" (ngSubmit)="addPost()">
    <div>
      <div class="profile-picture-container" [routerLink]="['/profile', currentUser.userName]">
        <img *ngIf="currentUser.profilePictureUrl != null" src="{{currentUser.profilePictureUrl}}" alt="">
        <i *ngIf="currentUser.profilePictureUrl == null" class="bi bi-person-fill"></i>
      </div>    
      <div class="textarea-container"> 
        <div>
          <textarea
          placeholder="Leave a post" class="post-text"     
          [(ngModel)]="post.content"
          formControlName="content"
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          matInput type="text">
        </textarea>
        </div>
        <div>
          <button type="submit">Post</button>
        </div>
      </div>
    </div>
  </form>
  <app-post *ngFor="let post of posts" 
    [post]="post" 
    [currentUser]="currentUser" 
    [posts]="posts">
  </app-post>
</div>