.home {
    display: flex;
    flex-direction: row;
}
.home>div {
    width: 25%;
}
.home>div:nth-child(2) {
    width: 50%;
    height: 100%;
    border-right: 2px solid #263238;
    border-left: 2px solid #263238;
}