<mat-toolbar>
    <span routing="">{{chat.Name}}</span>
  </mat-toolbar>
  

<div class="chat">
   <div class="messages">
        <app-message-group-chat *ngFor="let message of chat.Messages" [message]="message" [currentUserId]="currentUserId"></app-message-group-chat>
   </div>
    
</div>
<div class="flex">
    <mat-form-field class="example-full-width">
        <mat-label>Message</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <button mat-icon-button>
        <img src="https://cdn-icons-png.flaticon.com/512/6492/6492707.png" alt="">
      </button>
</div>