<div class="side-menu">
  <div [routerLink]="['/']">
    <i class="bi bi-house-door-fill"></i>
    Home
  </div>
  <div [routerLink]="['/profile', currentUser.userName]">
    <i class="bi bi-person-fill"></i>
    Profile
  </div>
  <div [routerLink]="['/users']">
    <i class="bi bi-chat-fill"></i>
    Chats
  </div>
  <div [routerLink]="['/groups']">
    <i class="bi bi-chat-fill"></i>
    Group Chats
  </div>
  <div >
    <i class="bi bi-bell-fill"></i>
    Notifications
  </div>
  <div [routerLink]="['/login']">
    <i class="bi bi-bell-fill"></i>
    Login
  </div>
  <div [routerLink]="['/register']">
    <i class="bi bi-bell-fill"></i>
    Sing Up
  </div>
</div>