<div class="container">
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <div action="#">
        <input formControlName="username" type="text" required placeholder="Enter username">
        <input formControlName="password" type="password" required placeholder="Enter your password">
        <button mat-flat-button type="submit" color="accent">Login</button>
      </div>
      <div class="signup">
        <span class="signup">Don't have an account?
        <label for="check" [routerLink]="['/register']">Signup</label>
        </span>
      </div>
    </div>
  </form>
</div>