.profile {
    display: flex;
    flex-direction: row;
}
.profile>div {
    width: 25%;
}
.profile>div:nth-child(2) {
    border-right: 2px solid black;
    border-left: 2px solid black;
    min-height: 100vh;
    width: 50%;
}
.back {
    padding: 10px;
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    opacity: .9;
    border-bottom: 2px solid black;
}
.icon {
    font-size: 30px;
}
.icon-container {
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: all .1s linear;
}
.icon-container:hover {
    background-color:#e5e5e5;
}
p {
    margin: 0;
}
.profile-background-container {
    height: 300px;
    border-bottom: 2px solid black;
    background-color: #f9f9f9;
}
.profile-background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.save-button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 25px; 
    background-color: white;    
    transition: color .1s linear;
    transition: background-color .1s linear;
    cursor: pointer;
}
.change-button, .follow-button, .unfollow-button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 25px; 
    background-color: white;    
    transition: color .1s linear;
    transition: background-color .1s linear;
    cursor: pointer;
    position: relative;
    bottom: 35px;
}
.change-button:hover, .save-button:hover {
    background-color: #e5e5e5;
}
.change-button {
    bottom: 15px;
}
.bottom {
    bottom: 15px;
}
.follow-button:hover {
    border: 2px solid rgb(43, 167, 255);
    color: rgb(43, 167, 255);
    background-color: rgb(221, 241, 255);
}
.unfollow-button:hover {
    border: 2px solid rgb(220,23,114);
    color: rgb(220,23,114);
    background-color: rgb(255, 240, 240);
}
.profile-container {
    position: relative;
    top: -85px;
    margin-bottom: -85px;
}
.usernames {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: auto;
    padding-left: 30px;
    padding-bottom: 10px;
}
.main-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 20px;
}
.other-info {
    font-size: 16px;
    padding: 0 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    >div {
        display: flex;
        gap: 20px;
        p:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.main-info>div {
    display: flex;
    flex-direction: row;
}
.display-username {
    font-weight: bold;
    font-size: 30px;
}
.profile-picture-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    border: 4px solid white;
}
.profile-picture-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-picture-container i {
    font-size: 150px;
}
.buttons-container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.buttons-container>div {
    width: 50%;
    text-align: center;
}    
.buttons-container>div:hover {
    background-color: #e5e5e5;
}
.buttons-container div {
    cursor: pointer;
    padding: 20px;
    transition: all .1s linear;
    font-weight: bold;
    font-size: 30px;
}
.buttons-container {
    border-bottom: 2px solid black;
}
.edit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    >div {
        border-radius: 15px;
        padding: 10px;
        background-color: white;
        height: 160px;
        width: 400px;
        >div:last-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            >div {
                width: 100%;
                border-bottom: 2px solid black;
                input {
                    width: 100%;
                    border: 0;
                }
                input:focus {
                    outline: none;
                }
                input::placeholder {
                    color: #434c5e;
                }
            }
        }
    }
}
.color-gray {
    color: #434c5e;
}
.edit-header {
    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        p {
            font-size: 20px;
            font-weight: bold;
        }
    }
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}