img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.container {
    // background: linear-gradient(to bottom right, #ccffff 0%, #66ccff 100%);  
    font-family: Helvetica;
    text-align: center;
    color: white;
  }
  
  .card {
    box-sizing: border-box;
    padding: 15px 0;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 10px #31C5D7;
    transition: width 2s, background-color 1s, box-shadow 1s;
    border-radius: 10px;
    color: black;
    width: 150px;
  }
  
  .card:hover {
    transition: all 2s ease 0s;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
  }
  .card:hover img{
    transition: all 3s ease 0s;
    transform: scale(1.25);
  }
  
  .wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .name {
    padding: 10px 0 5px 0;
    margin-bottom: 0;
    font-size: 24px;
    overflow-wrap: break-word;
  }