.post-footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.edit-field {
  width: 100%;
}
.edit-field input {
  width: 100%;
}
.post-card {
  border-bottom: 2px solid black;
  padding: 16px;
  padding-bottom: 0;   
  display: flex;
  flex-direction: row; 
  gap: 10px;
}
.post-card>div:last-child {
  width: 100%;
}
.post-card>div:first-child {
  width: 55px;
}
.username:hover {
  text-decoration: underline;
  cursor: pointer;
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.post-header p:first-child {
  font-weight: bold;
}
.post-header>div {
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.post-body p {
  margin: 0;
  word-wrap: break-word;
  font-size: 14px;
}
.post-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
.post-header p {
  margin: 0;
  font-size: 16px;
}
.post-footer {
  display: flex;
  justify-content:baseline;
  align-items: center;
  gap: 5px;
}
.post-footer p {
  margin: 0;
  font-size: 14px;
}
.comment-button:hover {
  background-color: rgb(221, 241, 255);
  color: rgb(43, 167, 255);
}
.comment-button, .edit-button, .delete-button {
  border: none;
  background-color: transparent;
  padding: 0;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  cursor: pointer;
}
.comment-button {
  transition: all .1s linear;
  height: 50px;
  width: 50px;
  margin-right: 5px;
}
.comment-button i {
  font-size: 26px;
}
.edit-button i, .delete-button i {
  font-size: 20px;
}
.color-gray {
  color:#434c5e;
}
.profile-picture-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  cursor: pointer;
}
.profile-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-picture-container i {
  font-size: 50px;
}
.post-list form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 16px;
  border-bottom: 2px solid black;
  >div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
.textarea-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  div:first-child {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    button {
      font-size: 20px;
      font-weight: bold;
      border-radius: 50px;
      padding: 5px 25px; 
      background-color: white;    
      transition: all .1s linear;
      cursor: pointer;
    }
    button:hover {
      background-color: whitesmoke;
    }
  }
}
.post-text {
  min-width: 100%;
  padding: 0;
  border: 0;
  font-size: 20px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.post-text:focus {
  outline: none;
}
.post-like-list {
  display: none;
}
.post-like-list.active {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}