.post-footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.post-card {
  border: 2px solid #263238;
  border-radius: 4px;
  margin: 8px;
  padding: 16px;
  width: 600px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.post-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
.post-header p {
  margin: 0;
  font-size: 14px;
  color: #607d8b;
}
.post-body {
  margin-bottom: 16px;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-footer>div {
    gap: 10px;
}
.post-footer p {
  margin: 0;
  font-size: 14px;
  color: #607d8b;
}
.comment-button {
  border: none;
  background-color: transparent;
  padding: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.comment-button i {
  font-size: 24px;
}